*{margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
}
    
            /* GRID LAYAOUT Y AREAS CORRESPONDIENTES*/
    .grid__layout { display: grid;
                    gap: 10px;
                    background-image: url(../../img/arasaka.jpg);
                    min-height: 100%;
                    grid-template-columns: 50px auto 1fr;
                    grid-template-rows: 0.2fr 1.5fr 1.2 fr 0.8fr ;
                    grid-template-areas:
                    "header  header  header"
                    "aside main__1 main__1"
                    "aside main main"
                    "footer  footer  footer"    
                    
            }


     