.main {grid-area: main;
}
.main__1 {grid-area: main__1;
        padding: 1rem;
        background-color: white;
        font-size: 2rem;
        background: rgb(2,0,36);
        background: rgb(98,1,1);
        background: radial-gradient(circle, rgba(98,1,1,1) 0%, rgba(6,0,1,1) 100%);}  

.color__1 {background-color: rgb(0, 0, 0);
                border: black 5px solid;
                color: white;
        }
.contenido {display: flex;
                justify-content: space-between;
                padding: 2rem;
        
        }
        
.contenido__square {
                border: rgb(255, 0, 0)  2px solid;
                margin: 1rem;
                width: 30rem;
                padding: 10px;
                color: white;
                font-size: 1.1rem;

        }