* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Noto Sans Mono', monospace;
  font-family: 'Roboto', sans-serif;
  font-family: 'Silkscreen', cursive;
  font-family: 'Zilla Slab', serif; }

/* GRID LAYAOUT Y AREAS CORRESPONDIENTES*/
.grid__layout {
  display: grid;
  gap: 10px;
  background-image: url(../../img/arasaka.jpg);
  min-height: 100%;
  grid-template-columns: 50px auto 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2 fr 0.8fr;
  grid-template-areas: "header  header  header" "aside main__1 main__1" "aside main main" "footer  footer  footer"; }

/*MEDIA QUERIE PARA UNA PANTALLA MAXIMO DE 360PX, */
@media screen and (max-width: 360px) {
  .grid__layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main__1" "main" "aside" "footer";
    overflow: hidden; }
  .header__flex {
    flex-direction: column;
    align-items: center; }
  .header__menu {
    display: flex;
    flex-direction: column; }
  .header__list {
    border: 1px solid black;
    border-bottom: 1px solid red;
    color: white; }
  .main__1 {
    font-size: 1,5rem; }
  .contenido {
    flex-direction: column;
    text-align: center; }
  .contenido__square {
    width: 100%;
    justify-content: center; }
  .aside__flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 0cm; }
  .aside__image {
    width: 1rem; }
  .footer__flex {
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem; }
  .ancho {
    grid-column: span 1; }
  .alto {
    grid-row: span 1; } }

/*MEDIA QUERIE PARA UNA PANTALLA MAXIMO DE 519PX, */
@media screen and (max-width: 519px) {
  .grid__layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main__1" "main" "aside" "footer";
    overflow: hidden; }
  .header__flex {
    flex-direction: column;
    align-items: center; }
  .header__menu {
    display: flex;
    flex-direction: column; }
  .header__list {
    border: 1px solid black;
    border-bottom: 1px solid red;
    color: white; }
  .main__1 {
    font-size: 1,5rem; }
  .contenido {
    flex-direction: column;
    text-align: center; }
  .contenido__square {
    width: 100%;
    justify-content: center; }
  .aside__flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 0cm; }
  .aside__image {
    width: 1rem; }
  .footer__flex {
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem; }
  .ancho {
    grid-column: span 1; }
  .alto {
    grid-row: span 1; } }

/*MEDIA QUERIE PARA 768PX*/
@media screen and (max-width: 768px) {
  .grid__layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main__1 " "main" "aside" "footer"; }
  .header__flex {
    flex-direction: column;
    align-items: center; }
  .aside__flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 0cm; }
  .aside__image {
    width: 1rem; }
  .footer__flex {
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem; } }

/*MEDIA QUERIE PARA 1024PX*/
@media screen and (max-width: 1024px) {
  .grid__layout {
    display: grid;
    gap: 10px;
    background-image: url(../../img/arasaka.jpg);
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 0.2fr 1.5fr 1.2 fr 0.8fr;
    grid-template-areas: "header" "main__1 " "main" "aside" "footer"; }
  .header__flex {
    flex-direction: column;
    align-items: center; }
  .aside__flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 0cm; }
  .aside__image {
    width: 1rem; }
  .footer__flex {
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem; } }

.header {
  grid-area: header; }

.header__flex {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-start; }

.header__menu {
  display: flex;
  flex-direction: row; }

.header__list {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 1rem;
  font-style: italic;
  border: 2px solid red; }

.header__logo {
  width: 100%; }

.header__pagina {
  color: red; }

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out 2s both;
  animation: rotate-center 0.6s ease-in-out 2s both; }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.aside {
  grid-area: aside; }

.aside__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.aside__image {
  width: 100%; }

.main {
  grid-area: main; }

.main__1 {
  grid-area: main__1;
  background-color: white;
  font-size: 2rem;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790909 37%, #003dff 100%);
  color: white; }

.color__1 {
  background-color: black;
  border: black 5px solid;
  color: white; }

.contenido {
  display: flex;
  justify-content: space-between;
  padding: 2rem; }

.contenido__square {
  border: red 2px solid;
  margin: 1rem;
  width: 30rem;
  padding: 2px;
  color: white;
  font-size: 1.1rem; }

.footer {
  grid-area: footer; }

.footer__flex {
  padding: 3rem;
  font-size: 1.7rem;
  font-style: italic;
  display: flex;
  justify-content: space-between; }

.color__2 {
  background-color: black;
  border: black 5px solid;
  color: white; }

.formulario {
  color: #fafafa;
  justify-content: center;
  display: inline-block; }

.formulario__2 {
  display: inline-block; }

/*MEDIA QUERIE PARA UNA PANTALLA MAXIMO DE 360PX, */
@media screen and (max-width: 360px) {
  .grid__layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main__1" "main" "aside" "footer";
    overflow: hidden; }
  .header__flex {
    flex-direction: column;
    align-items: center; }
  .header__menu {
    display: flex;
    flex-direction: column; }
  .header__list {
    border: 1px solid black;
    border-bottom: 1px solid red;
    color: white; }
  .main__1 {
    font-size: 1,5rem; }
  .contenido {
    flex-direction: column;
    text-align: center; }
  .contenido__square {
    width: 100%;
    justify-content: center; }
  .aside__flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 0cm; }
  .aside__image {
    width: 1rem; }
  .footer__flex {
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem; }
  .ancho {
    grid-column: span 1; }
  .alto {
    grid-row: span 1; } }

/*MEDIA QUERIE PARA UNA PANTALLA MAXIMO DE 519PX, */
@media screen and (max-width: 519px) {
  .grid__layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main__1" "main" "aside" "footer";
    overflow: hidden; }
  .header__flex {
    flex-direction: column;
    align-items: center; }
  .header__menu {
    display: flex;
    flex-direction: column; }
  .header__list {
    border: 1px solid black;
    border-bottom: 1px solid red;
    color: white; }
  .main__1 {
    font-size: 1,5rem; }
  .contenido {
    flex-direction: column;
    text-align: center; }
  .contenido__square {
    width: 100%;
    justify-content: center; }
  .aside__flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 0cm; }
  .aside__image {
    width: 1rem; }
  .footer__flex {
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem; }
  .ancho {
    grid-column: span 1; }
  .alto {
    grid-row: span 1; } }

/*MEDIA QUERIE PARA 768PX*/
@media screen and (max-width: 768px) {
  .grid__layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main__1 " "main" "aside" "footer"; }
  .header__flex {
    flex-direction: column;
    align-items: center; }
  .aside__flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 0cm; }
  .aside__image {
    width: 1rem; }
  .footer__flex {
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem; } }

/*MEDIA QUERIE PARA 1024PX*/
@media screen and (max-width: 1024px) {
  .grid__layout {
    display: grid;
    gap: 10px;
    background-image: url(../../img/arasaka.jpg);
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 0.2fr 1.5fr 1.2 fr 0.8fr;
    grid-template-areas: "header" "main__1 " "main" "aside" "footer"; }
  .header__flex {
    flex-direction: column;
    align-items: center; }
  .aside__flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 0cm; }
  .aside__image {
    width: 1rem; }
  .footer__flex {
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem; } }
